/* style.css */
body {
  overflow-x: hidden;
  background-color: #f0f0f0;
}

/* CSS */
header {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  box-shadow: 2px 2px 9px grey;
  padding: 1em -3em; /* increase vertical padding to 1.5em */
}

.logo {
  margin-right: 20px;
}

.logo img {
  width: 100%;
  height: 55px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  margin-right: 20px;
}

nav li:hover {
  cursor: pointer; /* change cursor to pointer on hover */
}

nav a {
  text-decoration: none;
  color: #333; /* default text color */
  border-bottom: 2px solid transparent; /* add a transparent underline by default */
  transition: border-bottom 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

nav a:hover {
  border-bottom: 2px solid #cf1717; /* add a red underline on hover */
}
intro h2 {
  font-size: 36px;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-weight: bold; /* make the text bold */
  color: #3498db; /* add a touch of blue to the text color */
  margin-bottom: 10px; /* add some space between the h2 and h3 elements */
}

intro h3 {
  font-family: 'Lato', sans-serif;
  margin-left: 20px; /* add some space to the left */
  color: #666; /* darken the text color a bit */
}
/* Style the headers */
h1, h2, h3 {
  text-align: center;
  font-weight: bold;
  color: #3498db;
  margin-bottom: 10px;
  font-family: 'Montserrat', sans-serif;
}
main h4{
  font-family: 'Merriweather', serif;
  font-size:20px;
  text-align:center;
  color: #B2E6CE;
}
main h5{
  font-size:14px;
  font-family: 'Merriweather', serif;
}
img-1 img{
  max-width:50%;
  margin-left: 170px;
}
